{
  "presets": [],
  "env": {
    "cjs": {
      "plugins": [
        "annotate-pure-calls",
        "./helpers/transpile/esm-to-cjs",
        "./helpers/transpile/wrap-constructor-pattern"
      ]
    },
    "es": {
      "plugins": [
        "annotate-pure-calls",
        ["import-export-rename", {"^(.+?)(?:\\.m?js)?$": "$1.js"}],
        "./helpers/transpile/wrap-constructor-pattern"
      ]
    }
  }
}